<html>
    <body>
        <ul>
            <% vragen.forEach(function(devraag,index){ %>
                <li> <%= devraag %> </li>
            <% }) %>
        </ul>
 
        <ol>
         <%   dataset.forEach((element, index) => { %>
               <%  var vragen = Object.keys(dataset[index]) %> 
              <%  })  %>
              <%   if (vragen[index] == 'Wat is je oogkleur?'){ %>
<%                } %>
            <li> <%= oogkleurvraag %> </li>
            }) %>

       </ol>
    </body>
</html>